body {
    font-family: "Palatino Linotype", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("img/fondo.png");
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}

.title {
    text-align: center;
}

.section {
    text-align: center;
}

header {
    background-color: #fff;
    color: #000;
    padding: 1em;
    text-align: center;
}

nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: #0000ff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.galeria li {
    margin: 10px;
    width: 200px;
}

.galeria img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.galeria img:hover {
    transform: scale(1.2);
}

.galeria {
    clip-path: inset(10px 20px 30px 40px);
}

.pepe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pepe ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pepe li {
    margin: 10px;
    width: 200px;
}

.pepe img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.pepe img:hover {
    transform: scale(1.2);
}

.pepe {
    clip-path: inset(10px 20px 30px 40px);
}

.facu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.facu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.facu li {
    margin: 10px;
    width: 200px;
}

.facu img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.facu img:hover {
    transform: scale(1.2);
}

.facu {
    clip-path: inset(10px 20px 30px 40px);
}
